%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%h4.center-align  
  = current_user.first_name  
  = current_user.last_name 
%br
%h5.center-align  
  = current_user.description 
%br
%h4.center-align
  Bucketlist Items :
  %br
  %br
  %br
%h4  
.center-align
  %h5{:href => "#"} 
  = link_to 'Add Activity', new_activity_path
  %h5{:href => "#"} 
  = link_to 'Remove an Activity', new_activity_path
%br
%br
%br
%br
