.navbar-fixed
  %nav.brown.darken-2.z-depth-2
    .nav-wrapper
      %a.brand-logo{:href => root_path} Bucket List
      %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
        %i.material-icons menu
      %ul.right.hide-on-med-and-down
        - if user_signed_in?  
          %li
            = link_to 'Home', root_path 
          %li
            = link_to 'Users', users_path        
          %li
            = link_to 'Activities',activities_path  
          %li
            %a.dropdown-button.btn.brown.darken-2.z-depth-2{"data-activates" => "dropdown1", :href => "#"}Your Profile
            %ul#dropdown1.dropdown-content
              %li
                = link_to 'Edit Profile', edit_user_registration_path
              %li.divide
              %li
                = link_to 'one', profile_path
              %li.divide
              %li
                = link_to 'one', profile_path
          %li
            = link_to('Sign Out', destroy_user_session_path, :method => :delete)
        - else
          %li
            = link_to('Login', new_user_session_path)

      %ul#mobile-demo.side-nav  
        - if user_signed_in?  
          %li
            = link_to 'Home', root_path 
          %li
            = link_to 'Users', users_path 
          %li
            = link_to 'Activities', activities_path  
          %li
            = link_to('Sign Out', destroy_user_session_path, :method => :delete)
        - else
          %li
            = link_to('Login', new_user_session_path)

